body{
    background-image: url(./images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    color:black;
}
.pageinicial {
    position: fixed;
    top:0px;
    width: 100%;
    z-index:10;
    background-color: #001634;
    left:0px;
    right:0px;
    height:80px;
    color:white;
}
.logo{
    position: absolute;
    top: 5px;
    left:80px;
    height: 70px;
    width: 70px;

 }

.logo1{
    position: absolute;
    top: 20px;
    left:144px;
    height: 40px;
    width: 120px;
}
.cabeçalho {
    position:absolute;
    top:5px;

    right:200px;
    opacity:0.5;
    
}
.cabeçalho:hover {
    opacity:1;
 }
 .cabeçalho2 {
    position:absolute;
    top:13px;
    right:45px;
    opacity:0.5;
    color:white;
    
 }
 .cabeçalho2:hover {
    opacity:1;
    
 }
 .carrinho{
    position:absolute;
    top:-8px;
    right:93px;
    
}

/*teclados*/

.cardst{
    display:flex;
    width:100%;
    height:100%;
}

.cardt1{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardt2{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardt3{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.tecladoimgcard1{
    left:50px;
    position: relative;
}
.tecladoimgcard2{
    left:50px;
    position: relative;
   
}
.tecladoimgcard3{
    left:15px;
    position:relative;
}
.bt1{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bt2{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bt3{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bt1:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bt2:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bt3:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.precot1{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precot2{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precot3{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precoh5t1{
    position: relative;
    left:30px;
}
.precoh5t2{
    position: relative;
    left:30px;
}
.precoh5t3{
    position: relative;
    left:30px;
}
.titulot1{
    position: relative;
    left:25px;
}
.titulot2{
    position: relative;
    left:25px;
}
.titulot3{
    position: relative;
    left:25px;
}

/*mouse*/
.cardsm{
    display:flex;
    width:100%;
    height:100%;
}

.cardm1{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardm2{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardm3{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.mouseimgcard1{
    left:50px;
    position: relative;
}
.mouseimgcard2{
    left:50px;
    position: relative;
   
}
.mouseimgcard3{
    left:15px;
    position:relative;
}
.bm1{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bm2{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bm3{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bm1:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bm2:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bm3:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.precom1{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precom2{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precom3{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precoh5m1{
    position: relative;
    left:30px;
}
.precoh5m2{
    position: relative;
    left:30px;
}
.precoh5m3{
    position: relative;
    left:30px;
}
.titulom1{
    position: relative;
    left:25px;
}
.titulom2{
    position: relative;
    left:25px;
}
.titulom3{
    position: relative;
    left:25px;
}

/*gabinetes*/
.cardsg{
    display:flex;
    width:100%;
    height:100%;
}

.cardg1{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardg2{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardg3{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.gabineteimgcard1{
    left:50px;
    position: relative;
}
.gabineteimgcard2{
    left:50px;
    position: relative;
   
}
.gabineteimgcard3{
    left:15px;
    position:relative;
}
.bg1{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bg2{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bg3{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bg1:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bg2:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bg3:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.precog1{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precog2{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precog3{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precoh5g1{
    position: relative;
    left:30px;
}
.precoh5g2{
    position: relative;
    left:30px;
}
.precoh5g3{
    position: relative;
    left:30px;
}
.titulog1{
    position: relative;
    left:25px;
}
.titulog2{
    position: relative;
    left:25px;
}
.titulog3{
    position: relative;
    left:25px;
}

/*headset*/
.cardsh{
    display:flex;
    width:100%;
    height:100%;
}

.cardh1{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardh2{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.cardh3{
    background-color: #fff;
    width:30%;
    height:100%;
border-radius: 12px;
box-shadow: 4px 4px 12px #aaaa;
position: relative;
margin-left: 35px;
}
.headsetimgcard1{
    left:50px;
    position: relative;
}
.headsetimgcard2{
    left:50px;
    position: relative;
   
}
.headsetimgcard3{
    left:15px;
    position:relative;
}
.bh1{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bh2{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bh3{
    background-color: #001634;
    color:white;
    position:relative;
    left:10;
    height:30px;
    width:100%;
    border-radius: 30px;
    margin-bottom: 10px;
}
.bh1:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bh2:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.bh3:hover{
    filter:brightness(1.3);
    cursor:pointer;
}
.precoh1{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precoh2{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precoh3{
    color:rgb(240, 6, 6);
    position: absolute;
    top:495px;
    left:53px;
}
.precoh5h1{
    position: relative;
    left:30px;
}
.precoh5h2{
    position: relative;
    left:30px;
}
.precoh5h3{
    position: relative;
    left:30px;
}
.tituloh1{
    position: relative;
    left:25px;
}
.tituloh2{
    position: relative;
    left:25px;
}
.tituloh3{
    position: relative;
    left:25px;
}

